/* rider card and profile photo*/

.profile-image {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(216, 106, 33);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
}


/*small screen */

@media screen and (max-width: 970px) {
    .wrapper {
        grid-template-columns: repeat(2, auto) !important;
        grid-gap: 20px;
    }
    .profile-image {
        height: 70px !important;
        width: 70px !important;
    }
}

@media screen and (max-width: 591px) {
    .wrapper {
        grid-template-columns: repeat(1, auto) !important;
    }
}