.image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.image:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.text {
    background: #CF3E21;
    background: linear-gradient(to right, #CF3E21 31%, #88CF40 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}