@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: rgb(0, 0, 0) !important;
}

h1,
h4,
a,
p {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.paragraph-align {
    text-align: justify;
}

.header-color {
    color: rgb(255, 115, 0) !important;
}

.header-color-bg {
    background: linear-gradient(45deg, red, blue);
}

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}